@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

h2 {
    font-family: 'Patrick Hand', cursive;
  }

#box {
    border-radius: 20px;
}


#btn {
    margin-top: 20px;
    background-color: #09221f70;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;    
    position: relative;
    text-align: center;
}
